[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "gstreamer"]
	path = gstreamer
	url = https://gitlab.freedesktop.org/gstreamer/gstreamer
